.header {
    margin: auto;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    border: solid   3px var(--outline);
    border-radius: 20px;
    padding: 15px 20px;
    margin-top: 20px;
}

.score {
    background-color: white;
    border-radius: 10px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score__header {
    color: var(--score-text);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2em;
}

.score__value {
    color: var(--dark-text);
    font-weight: 600;
    font-size: 40px;
}