.rules__button {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background: none;
    border: solid 1px rgb(179, 179, 179);
    border-radius: 7px;
    position: absolute;
    right: 5vh;
    bottom: 3vh;
    cursor: pointer;
}

.rules {
    position: absolute;
    background-color: white;
    border-radius: 1.5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.rules__flexbox {
    display: flex;
    justify-content: space-between;
}

.rules__close-btn {
    background: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.rules__header {
    color: var(--dark-text);
    padding: 30px 30px;
}

.rules__img {
    padding: 20px 30px;
}